/* .navbar{
    position: relative;
} */
.sidebar {
    height: 100%;
    width: 200px; /* Set the width of the sidebar */
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333; /* Set the background color */
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 55.6px;

  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    color: #ccc;
  }
  