<div class="wrapper">
    <div class="title-text">
      <div class="title login" #loginText>Member</div>
     
    </div>
    <div class="form-container">
      <div class="slide-controls">
        <input type="radio" name="slide" id="login" checked>
        <input type="radio" name="slide" id="signup">
        <label for="login" class="slide login" #loginBtn (click)="switchToLoginAd()">Login</label>
  
        <div class="slider-tab"></div>
      </div>
      <div class="form-inner">
        <form action="#" class="login" #loginForm>
          <div class="field">
            <input type="text" placeholder="Email Address" required>
          </div>
          <div class="field">
            <input type="password" placeholder="Password" required>
          </div>
          <div class="pass-link"><a href="#">Change Password?</a></div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Login"  (click) = "redirect()">
          </div>
          
        </form>
      </div>
    </div>
  </div>
